@font-face {
    font-family: 'GOOP';
    src: url('GOOP.ttf') format('truetype');
    font-display: swap;
}

body {
    font-family: 'GOOP', monospace;
    background-color: black; /* optional hacker vibes */
    color: white;
    text-align: center;
    -webkit-font-smoothing: none;
    image-rendering: pixelated; /* keeps 12x12 blocky */
}
